.App {
  text-align: center;
}

.Calc-container {
  border: 5px solid black;
  width: 600px;
  margin: auto;
}

.Display-container {
  padding: 5px;
  border: 5px solid blue;
  height: 40px;
  background-color: grey;
}

.Display {
  font-size: 2em;
  text-align: right;
  padding: 5px;
}

.Button-container {
  border: 5px solid green;  
  display: flex;
  flex-wrap: wrap;
}

.Button-container > button {
  flex: 0 1 25%;
  font-size: 2em;
  background-color: yellow;
}
